<div class="bg-linear-to-r from-gray-500 to-blue-500 text-white p-6 rounded-2xl shadow-lg w-full max-w-sm">

  <p class="text-lg opacity-80 text-white font-bold">
    {{ selectedTime }} Revenue
  </p>

  <h2 class="text-3xl font-bold mt-2">
    Rs {{ revenue }}
  </h2>

</div>

<!-- From Uiverse.io by kamehame-ha 
<div class="cards col-span-2">
    <div class="card red">
        <p class="tip">{{ selectedTime }} Revenue</p>
        <p class="second-text">Rs {{ revenue }}</p>
    </div>
    <div class="card blue">
        <p class="tip">Hover Me</p>
        <p class="second-text">Lorem Ipsum</p>
    </div>
    <div class="card green">
        <p class="tip">Hover Me</p>
        <p class="second-text">Lorem Ipsum</p>
    </div>
</div> -->