<!-- Overlay -->
<div class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center">

  <!-- Modal -->
  <div class="bg-white w-100 rounded-lg shadow-lg p-6">

    <h2 class="text-xl font-bold mb-4 text-center">
      Payment Bill
    </h2>

    <!-- Items -->
    <div class="h-80 overflow-y-auto">

      @if(cartItems.length > 0){

        @for(item of cartItems; track item.id){

          <div class="flex justify-between border-b py-2">

            <div>
              <p class="font-semibold">{{ item.title }}</p>
              <p class="text-sm text-gray-500">
                {{ item.qty }} × Rs {{ item.price }}
              </p>
            </div>

            <p class="font-semibold">
              Rs {{ item.qty * item.price }}
            </p>

          </div>

        }

      } @else {

        <p class="text-center text-gray-400">
          No Items Added
        </p>

      }

    </div>

    <!-- Total -->
    <div class="flex justify-between mt-4 font-bold text-lg">
      <span>Total</span>
      <span>Rs {{ total }}</span>
    </div>

    <!-- Buttons -->
    <div class="flex justify-end gap-3 mt-6">

      <button
        (click)="close()"
        class="bg-gray-400 text-white px-4 py-2 rounded">
        Close
      </button>

      <button
        (click)="printBill()"
        class="bg-green-500 text-white px-4 py-2 rounded">
        Print Bill
      </button>

    </div>

  </div>

</div>
