.bn632-hover {
  width: 160px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  /* margin: 20px; */
  height: 50px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  /* moz-transition: all .4s ease-in-out; */
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:hover {
  background-position: 100% 0;
  /* moz-transition: all .4s ease-in-out; */
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn18 {
  background-image: linear-gradient(
    to right,
    #2286c5,
    #41c6bd,
    #25b9c6,
    #4c86e2
  );
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

.btnNonActive{
    color: black;
}