<!-- <div class=" gap-4 mt-6 p-1 ">

    <div class="bg-white p-4 rounded-xl shadow hover:text-black cursor-pointer"
        [class.bg-gray-500]="active" [class.bg-gray-200]="!active">
        <h4 class="font-semibold text-center">{{button.name}}</h4>
        <p class="text-sm"></p>
    </div>

</div> -->
<div class=" gap-4 mt-6 p-1 ">
    <!-- <button [class.bn25]="active" [class.btnNonActive]="!active" class="bn632-hover shadow hover:text-black cursor-pointer">{{button.name}}</button> -->
     <button [class.bn18]="active" [class.btnNonActive]="!active" class="bn632-hover bn19">{{button.name}}</button>
</div>
