<body class="bg-gray-100 font-sans grid grid-cols-1 lg:grid-cols-12 md:grid-cols-12 sm:grid-cols-12 h-screen">

    <!-- Sidebar -->
    <div class=" lg:col-span-1 h-screen md:col-span-1 sm:col-span-1">
        <app-side-bar></app-side-bar>
    </div>

    <!-- Time Buttons -->
    <div class="col-span-11 p-4 grid grid-cols-11 gap-4">

        @for(t of times; track t){
        <app-time-btn [time]="t" [active]="selectedTime === t" (timeClick)="selectTime($event)">
        </app-time-btn>

        }

        <div class="col-span-11 grid-cols-2 gap-2">
            <app-revenue-card  [selectedTime]="selectedTime" [revenue]="revenue"></app-revenue-card>
        </div>

    </div>

</body>